<div class="jumbotron">
    <p class="lead"><b>Showing prayer times for a week from the current date.</b></p>
    <!--
    <input type="button" name="prayer_times_button" id="prayer_times_button" value="Show Prayer Times">
    -->
    <br><br>
    <div id="prayer_times_container"></div>
</div>
<script src="javascripts/prayer_times.js"> </script>