<p class="lead">Click the button to show prayer times.</p>
<input type="button" name="prayer_times_button" id="prayer_times_button" value="Show Prayer Times">

<br><br>
<div id="prayer_times_container"></div>

<script src="javascripts/prayer_times.js"> </script>